

/*Basic Selectors*/

h1 {
    color: red;
}
p{
    color: blue;
}
div{
    background-color: lightgray;
}
ul {
  list-style: none;
}
a{
    color: green;
}




/* Class Selectors */
.highlight {
    background-color: yellow;
}
.note{
    font-style: italic;
}
.error{
    color: red;
}
.box{
    border: 2px solid black;
}
.font{
    font-size: 24px;
}



/* ID Selectors   */

#main1{
    border: 2px solid blue;
}
#header{
    text-align: center;
}
#footer{
    background-color: gray;
}
#intro{
    font-weight: bold;
}
#content1{
    padding: 20px;
}


/*  Group Selectors   */

h2 , h3 , h4{
    color: navy;
}
.box, .card, #main-container{
    margin: 10px;
}
p,
h1, h2, h3, h4, h5, h6 {
  background-color: lightblue;
}
p,span,li{
    font-size: 18px;
}
.error,.warning , .info{
    border: 1px solid red;
}





/*    Descendant Selectors  */

p span {
  color: purple;
}

.menu li{
    color: green;
}
#content2 b{
    font-weight: bold;
}
div a{
    text-decoration: none;
}
.note em{
    font-style: italic;
}






/*    Child Selectors  */

ul > li{
    color: brown;
}
#main2 > p{
    color: purple;
}
.section > h3{
    color: darkblue;
}
.container > div {
  margin: 10px;
}
tr > td {
  border: 1px solid gray;
}



/*    Adjacent Sibling Selectors  */

h1 + p{
    color: orange;

}
div + div {
  background-color: beige;
}
input + label {
    font-weight: bold;
}
input + label {
  font-weight: bold;
}
h1 + h2 {
  color: darkgreen;
}
image + span{
    font-weight: bold;
}


/*    General Sibling Selectors  */

h2 ~ p {
  color: steelblue;
}
form ~ .alert{
    background-color: pink;
}
label ~ input{
    border: 1px dashed black;
}
li ~ li{
    font-style: italic;
}
h3 ~ h4{
    color: olive;
}



/* Attribute Selectors   */

input[type="text"] {
  border: 2px solid blue;
}
a[target="_blank"] {
  color: teal;
}
[disabled] {
  background-color: lightgray;
}
[title] {
  border-bottom: 1px dotted black;
}
input[placeholder] {
  border: 1px solid green;
}


/* Pseudo-classes   */

li:first-child {
  font-weight: bold;
}
section p:last-of-type {
  color: crimson;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
input:hover {
  background-color: lightyellow;
}

a:visited {
  color: purple;
}